__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.venv/
venv/

data/
raw_data/
datasets/
output/
results/
logs/
tools/
anomaly_detection/

*.csv
*.xlsx
*.xls
*.pkl
*.joblib
*.npy
*.npz

*.docx
*.pdf

temp.csv
test.py

